<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- Log paths per profile -->
    <springProfile name="local | dev58">
        <property name="LOGS_TRACE" value="./nte/logs/trace" />
        <property name="LOGS_ERROR" value="./nte/logs/error" />
        <property name="LOGS_ACCESS" value="./nte/logs/access" />
    </springProfile>
    <springProfile name="dev | prod">
        <property name="LOGS_TRACE" value="/svc/nte/logs/trace" />
        <property name="LOGS_ERROR" value="/svc/nte/logs/error" />
        <property name="LOGS_ACCESS" value="/svc/nte/logs/access" />
    </springProfile>

    <!-- use Spring default values -->
    <include resource="logback/logback-defaults.xml"/>

    <!-- CONSOLE APPENDER -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <!-- TRACE FILE APPENDER -->
    <appender name="ROLLING_FILE_TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_TRACE}/nte.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_TRACE}/archived/nte-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="ASYNC_ROLLING_FILE_TRACE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ROLLING_FILE_TRACE" />
        <queueSize>256</queueSize>
        <discardingThreshold>20</discardingThreshold>
        <includeCallerData>true</includeCallerData>
        <maxFlushTime>10</maxFlushTime>
        <neverBlock>true</neverBlock>
    </appender>

    <!-- ACCESS FILE APPENDER -->
    <appender name="ROLLING_FILE_ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_ACCESS}/nte.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_ACCESS}/archived/nte-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="ASYNC_ROLLING_FILE_ACCESS" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ROLLING_FILE_ACCESS" />
        <queueSize>256</queueSize>
        <discardingThreshold>20</discardingThreshold>
        <includeCallerData>true</includeCallerData>
        <maxFlushTime>10</maxFlushTime>
        <neverBlock>true</neverBlock>
    </appender>

    <!-- ERROR FILE APPENDER -->
    <appender name="ROLLING_FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOGS_ERROR}/nte.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_ERROR}/archived/nte-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="ASYNC_ROLLING_FILE_ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ROLLING_FILE_ERROR" />
        <queueSize>256</queueSize>
        <discardingThreshold>20</discardingThreshold>
        <includeCallerData>true</includeCallerData>
        <maxFlushTime>10</maxFlushTime>
        <neverBlock>true</neverBlock>
    </appender>

    <!-- TELEGRAM APPENDER -->
    <appender name="TELEGRAM" class="org.nftreally.TelegramAppender">
        <minInterval>1000</minInterval>
        <botToken>${TELEGRAM_BOT_TOKEN}</botToken>
        <chatId>${TELEGRAM_CHAT_ID}</chatId>
        <Layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{HH:mm:ss.SSS}] [%-5level] [%logger{%-36.36t}] - %msg%n</Pattern>
        </Layout>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- LOGGER -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.mybatis" level="DEBUG"/>
    <logger name="org.mariadb.jdbc" level="INFO"/>
    <logger name="org.quartz" level="INFO"/>
    <logger name="com.msas.pollingchecker" level="DEBUG"/>
    <logger name="com.msas.scheduler" level="DEBUG"/>
    <logger name="com.msas.ses" level="DEBUG"/>

    <!-- ROOT LOGGER -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC_ROLLING_FILE_TRACE"/>
    </root>

    <!-- ACCESS LOGGER -->
    <logger name="com.msas.common" level="INFO">
        <appender-ref ref="ASYNC_ROLLING_FILE_ACCESS"/>
    </logger>

    <!-- ERROR LOGGER -->
    <logger name="com.msas" level="ERROR">
        <appender-ref ref="ASYNC_ROLLING_FILE_ERROR"/>
        <appender-ref ref="TELEGRAM"/>
    </logger>

</configuration>
